.banner-main img { height: 100%; width: auto\9; width:100%; }

.main .list {margin-bottom: 10px;}

.main .content-two {line-height: 7.5rem}

.main .lane {height: 2.5rem;}

.five-in-one {background-color: #ffffff;text-align: center;height: 6rem}